{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "Jobs" %}{% endblock %}
{% block bodyclass %}menu-job{% endblock %}
{% block content %}

    {% trans "Cancel" as new_str %}
    {% include "wagtailadmin/shared/header.html" with title=new_str subtitle=job icon="grip" %}

    <div class="row row-flush nice-padding">
        <form action="{% url 'wagtailjobs_cancel' pk=jobindex.pk job_pk=job.pk %}" method="POST">
            {% csrf_token %}
            <p>{% blocktrans %}Are you sure you want to cancel this job?{% endblocktrans %}</p>
            <input type="submit" class="button no" value="{% trans 'Yes, cancel' %}" />
        </form>
    </div>
{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
