{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "jobs" %}{% endblock %}
{% block bodyclass %}menu-job{% endblock %}
{% block content %}

    {% include "wagtailadmin/shared/header.html" with title="jobs" icon="jobs" %}

    <div class="nice-padding">
        {% if has_job %}

            <ul class="listing">
                {% for jobindex, model_type in jobindex_list %}
                    <li>
                        <div class="row row-flush title">
                            <h2>
                                <a href="{% url 'wagtailjobs_index' pk=jobindex.pk %}" class="col6">
                                    {{ jobindex.title }}
                                </a>
                            </h2>
                            <small class="col6">{{ model_type|title }}</small>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no job pages yet - go add one!</p>
        {% endif %}
    </div>
{% endblock %}
