{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans %}New Job{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-job{% endblock %}
{% block content %}
    {% trans "New" as new_str %}
    {% trans "Job" as jobpost_str %}
    {% include "wagtailadmin/shared/header.html" with title=new_str subtitle=jobpost_str icon="job" %}

    <form action="{% url 'wagtailjobs_create' pk=jobindex.pk %}" method="POST">
        {% csrf_token %}
        {{ edit_handler.render_form_content }}

<footer>
            <ul>
                <li class="actions">
                    <div class='dropdown dropup match-width'>
                        <input type="submit" value="{% trans 'Create and Save' %}" />
                    </div>
                </li>
            </ul>
        </footer>
    </form>
{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
