{% load i18n %}
<table class="listing full-width">
            <colgroup>
            <thead><tr class="table-headers">
                <th class="title">Name</th>
                <th class='issued_on'>Issued on</th>
                <th class="last_updated">Last Updated</th>
                <th class="date">job No.</th>
            </tr></thead>
            <tbody>
            {% for job in job_list|dictsortreversed:"issue_date" %}
                <tr>
                    <td class="title">
                        <h2>
                            <a href="{% url 'wagtailjobs_edit' pk=jobindex.pk job_pk=job.pk %}">
                                {{job}}
                            </a>
                        </h2>
                        <ul class="actions">
                            <li><a href="{% url 'wagtailjobs_edit' pk=jobindex.pk job_pk=job.pk %}" class="button button-small">{% trans 'Edit' %}</a></li>
                            <li><a href="{% url 'wagtailjobs_delete' pk=jobindex.pk job_pk=job.pk %}" class="button button-small button-secondary no">{% trans 'Delete' %}</a></li>
                        </ul>
                    </td>
                    <td class='issued'> {{ job.issue_date|date:"d M Y H:i"}} </td>
                    <td class='updated'>
                        {% if job.last_updated %}
                        <div class="human-readable-date" title="{{ job.last_updated|date:"d M Y H:i" }}">
                        {{ job.last_updated|timesince }} ago</div>{% endif %}
                    </td>
                    <td class="date">
                        {{ job.id }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
</table>
